<div class="floating-text">
    <div class="inner-block">
        <div class="inner-block">
            <div class="inner-block">
                <div class="inner-block">
                    <div class="inner-block">
                        <div class="inner-block">
                            <marquee class="inner-floating-text" height="30%" direction="right" width="90%">A floating
                                banner text which
                                keeps on rotating
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>