.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 100px 0 0 0;
  }
  
  .example-item {
    height: 50px;
    width: 100%;
    margin: 10px 0 0 30px;
  }

  
  