

.count-label{
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.count{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    height: 55px;
}

.label-container{
    height: 70px;
}